<kendo-grid [style.height]="'100%'" 
            [data]="gridService | async" 
            [loading]="gridService.loading" 
            [pageSize]="state.take"
            [selectable]="selectableSettings" 
            [skip]="state.skip" 
            [sort]="state.sort" 
            [sortable]="true" 
            [pageable]="pageableSettings"
            [scrollable]="'true'" 
            (dataStateChange)="dataStateChange($event)" 
            (selectionChange)="onSelectionChange($event)">


  <ng-template kendoGridToolbarTemplate position="top">
    <div class="projeto-nfe-grid__action-container">
      <button (click)="onClick()" class="projeto-nfe-grid__action">
        <i class="ndd-font ndd-font-create projeto-nfe-grid__action__icon"></i>
        <span class="projeto-nfe-grid__action__description">Novo Transportador</span>
      </button>
      <button (click)="deleteShippingCompany()" class="projeto-nfe-grid__action" [disabled]="!selectedRows.length">
        <i class="ndd-font ndd-font-delete projeto-nfe-grid__action__icon"></i>
        <span class="projeto-nfe-grid__action__description">Remover</span>
      </button>
      <button (click)="redirectOpenShippingCompany()" class="projeto-nfe-grid__action" [disabled]="selectedRows.length != 1">
        <i class="ndd-font ndd-font-open projeto-nfe-grid__action__icon"></i>
        <span class="projeto-nfe-grid__action__description">Abrir</span>
      </button>
    </div>
  </ng-template>


  <kendo-grid-checkbox-column width="30"></kendo-grid-checkbox-column>
  <kendo-grid-column field="id" title="Id" width="50"></kendo-grid-column>
  <kendo-grid-column field="businessName" title="Nome" width="250"></kendo-grid-column>
</kendo-grid>