<div class="feature-view">
    <ndd-ng-titlebar titlebarIcon="ndd-font ndd-font-box-check" titlebarTitle="Cadastrar Emitente" [titlebarRouterToReturnOnClose]="returnRoute"></ndd-ng-titlebar>
    <ndd-ng-tabsbar>
        <ndd-ng-tab tabId="ndd-ng-tab-issuer-info" [tabRoute]="'./'" tabTitle="Dados Cadastrais"></ndd-ng-tab>
    </ndd-ng-tabsbar>
    <div class="feature-view__content">
        <div class="row">
            <div class="col-sm-6">
                <ndd-issuer-form [returnRoute]="'/emitentes'" [form]="form.get('details')"></ndd-issuer-form>
            </div>
            <div class="col-sm-6">
                <ndd-address-form [form]="form.get('address')"></ndd-address-form>
            </div>
        </div>
    </div>
</div>
<div class="feature-view-tab__footer">
    <button class="ndd-ng-button ndd-ng-button--primary" (click)="onRegister()">Salvar</button>
    <button class="ndd-ng-button ndd-ng-button--cancel" (click)="redirect()">Voltar</button>
</div>
<div class="ndd-ng-spinner__spinner" *ngIf="isLoading"></div>
<div class="ndd-ng-spinner__color" *ngIf="isLoading"></div>