<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <span class="feature-view__title">Dados Cadastrais</span>
            </div>
        </div>
        <form [formGroup]="form">
            <div class="row feature-view__group">
                <div class="col-sm-12 feature-view__body">
                    <div>
                        <span class="feature-view__label" [class.form__color-red]="getFormError('businessName')">
                            {{ nome }} *</span>
                    </div>
                    <input formControlName="businessName" class="form__input" type="text"
                        [class.form__input__border-red]="getFormError('businessName')">
                    <div *ngIf="getFormError('businessName')">
                        <span class="feature-view__label" [class.form__color-red]="getFormError('businessName')">Campo
                            requerido
                        </span>
                    </div>
                </div>

            </div>
            <div class="row feature-view__group">
                <div *ngIf="form?.get('personType').value == 1" formGroupName="person">
                    <div class="col-sm-6 feature-view__body">
                        <div>
                            <span class="feature-view__label" [class.form__color-red]="getPersonTypeFormError('cpf')">CPF
                                *
                            </span>
                        </div>
                        <input formControlName="cpf" [textMask]="{ mask: cpfMask}" class="form__input" type="text"
                            [class.form__input__border-red]="getPersonTypeFormError('cpf')">
                        <div *ngIf="getPersonTypeFormError('cpf')">
                            <span class="feature-view__label" [class.form__color-red]="getPersonTypeFormError('cpf')">Campo
                                requerido
                            </span>
                        </div>
                    </div>
                </div>
                <div *ngIf="form?.get('personType').value == 2" formGroupName="enterprise">
                    <div class="col-sm-6 feature-view__body">
                        <div>
                            <span class="feature-view__label" [class.form__color-red]="getPersonTypeFormError('cnpj')">CNPJ
                                *
                            </span>
                        </div>
                        <input formControlName="cnpj" [textMask]="{ mask: cnpjMask}" class="form__input" type="text"
                            [class.form__input__border-red]="getPersonTypeFormError('cnpj')">
                        <div *ngIf="getPersonTypeFormError('cnpj')">
                            <span class="feature-view__label" [class.form__color-red]="getPersonTypeFormError('cnpj')">Campo
                                requerido
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 feature-view__body">
                    <div>
                        <span class="feature-view__label" [class.form__color-red]="getFormError('personType')">Tipo
                            Pessoa ?</span>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 feature-view__body feature-view__body--radio">
                            <input type="radio" name="personType" id="individualPerson" value="1" formControlName="personType"
                                checked="true" class="k-radio">
                            <label for="individualPerson" class="feature-view__label k-radio-label">Pessoa Física</label>
                        </div>
                        <div class="col-sm-6 feature-view__body feature-view__body--radio">
                            <input type="radio" name="personType" id="legalPerson" value="2" formControlName="personType"
                                class="k-radio">
                            <label for="legalPerson" class="feature-view__label k-radio-label ">Pessoa Jurídica</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row feature-view__group">
                <div *ngIf="form?.get('personType').value == 2" formGroupName="enterprise">
                    <div class="col-sm-6 feature-view__body">
                        <div>
                            <span class="feature-view__label" [class.form__color-red]="getPersonTypeFormError('corporateName')">Razão
                                Social *</span>
                        </div>
                        <input formControlName="corporateName" class="form__input" type="text"
                            [class.form__input__border-red]="getPersonTypeFormError('corporateName')">
                        <div *ngIf="getPersonTypeFormError('corporateName')">
                            <span class="feature-view__label" [class.form__color-red]="getPersonTypeFormError('corporateName')">Campo
                                requerido
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6 feature-view__body">
                        <div>
                            <span class="feature-view__label" [class.form__color-red]="getPersonTypeFormError('stateRegistration')">Inscrição
                                Estadual *</span>
                        </div>
                        <input formControlName="stateRegistration" class="form__input" type="text"
                            [class.form__input__border-red]="getPersonTypeFormError('stateRegistration')">
                        <div *ngIf="getPersonTypeFormError('stateRegistration')">
                            <span class="feature-view__label" [class.form__color-red]="getPersonTypeFormError('stateRegistration')">Campo
                                requerido
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>