<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <span class="feature-view__title">Dados Cadastrais</span>
            </div>
        </div>
        <form [formGroup]="form">
            <div class="row feature-view__group">
                <div class="col-sm-12 feature-view__body">
                    <div>
                        <span class="feature-view__label" [class.form__color-red]="getFormError('businessName')">Nome Fantasia *</span>
                    </div>
                    <input formControlName="businessName" class="form__input" type="text" [class.form__input__border-red]="getFormError('businessName')">
                    <div *ngIf="getFormError('businessName')">
                        <span class="feature-view__label" [class.form__color-red]="getFormError('businessName')">Campo requerido</span>
                    </div>
                </div>
            </div>
            <div class="row feature-view__group">
                <div formGroupName="physicalPerson">
                    <div class="col-sm-6 feature-view__body" *ngIf="form?.get('personType').value">
                        <div>
                            <span class="feature-view__label" [class.form__color-red]="getPhysicalPersonError('cpf')">CPF *</span>
                        </div>
                        <input formControlName="cpf" [textMask]="{ mask: cpfMask}" class="form__input" type="text" [class.form__input__border-red]="getPhysicalPersonError('cpf')">
                        <div *ngIf="getPhysicalPersonError('cpf')">
                            <span class="feature-view__label" [class.form__color-red]="getPhysicalPersonError('cpf')">Campo requerido</span>
                        </div>
                    </div>
                </div>
                <div formGroupName="legalPerson">
                    <div class="col-sm-6 feature-view__body" *ngIf="!form?.get('personType').value">
                        <div>
                            <span class="feature-view__label" [class.form__color-red]="getLegalPersonError('cnpj')">CNPJ *</span>
                        </div>
                        <input formControlName="cnpj" [textMask]="{ mask: cnpjMask}" class="form__input" type="text" [class.form__input__border-red]="getLegalPersonError('cnpj')">
                        <div *ngIf="getLegalPersonError('cnpj')">
                            <span class="feature-view__label" [class.form__color-red]="getLegalPersonError('cnpj')">Campo requerido
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 feature-view__body">
                    <div>
                        <span class="feature-view__label" [class.form__color-red]="getFormError('personType')">Pessoa Juridica ? *</span>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 feature-view__body">
                            <ui-switch formControlName="personType" id="personType" (change)="setControls()"></ui-switch>
                        </div>
                    </div>
                    <div *ngIf="getFormError('personType')">
                        <span class="feature-view__label" [class.form__color-red]="getFormError('personType')">Campo requerido
                        </span>
                    </div>
                </div>
            </div>
            <div class="row feature-view__group" formGroupName="legalPerson">
                <div class="col-sm-6 feature-view__body" *ngIf="!form?.get('personType').value">
                    <div>
                        <span class="feature-view__label" [class.form__color-red]="getLegalPersonError('stateRegistration')">Inscrição Estadual *</span>
                    </div>
                    <input formControlName="stateRegistration" class="form__input" type="text" [class.form__input__border-red]="getLegalPersonError('stateRegistration')">
                    <div *ngIf="getLegalPersonError('stateRegistration')">
                        <span class="feature-view__label" [class.form__color-red]="getLegalPersonError('stateRegistration')">Campo requerido</span>
                    </div>
                </div>
                <div class="col-sm-6 feature-view__body" *ngIf="!form?.get('personType').value">
                    <div>
                        <span class="feature-view__label" [class.form__color-red]="getLegalPersonError('corporateName')">Razão Social *</span>
                    </div>
                    <input formControlName="corporateName" class="form__input" type="text" [class.form__input__border-red]="getLegalPersonError('corporateName')">
                    <div *ngIf="getLegalPersonError('corporateName')">
                        <span class="feature-view__label" [class.form__color-red]="getLegalPersonError('corporateName')">Campo requerido</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>