<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <span class="feature-view__title">Dados Cadastrais</span>
            </div>
        </div>
        <form [formGroup]="form">
            <div class="row feature-view__group">
                <div class="col-sm-12 feature-view__body">
                    <div>
                        <span class="feature-view__label" [class.form__color-red]="getFormError('businessName')">Nome
                            Fantasia *</span>
                    </div>
                    <input formControlName="businessName" class="form__input" type="text"
                        [class.form__input__border-red]="getFormError('businessName')">
                    <div *ngIf="getFormError('businessName')">
                        <span class="feature-view__label" [class.form__color-red]="getFormError('businessName')">Campo
                            requerido</span>
                    </div>
                </div>
            </div>
            <div class="row feature-view__group">
                <div class="col-sm-6 feature-view__body" *ngIf="form?.get('personType').value == 2">
                    <div>
                        <span class="feature-view__label" [class.form__color-red]="getFormError('cnpj')">CNPJ
                            *</span>
                    </div>
                    <input formControlName="cnpj" [textMask]="{ mask: cnpjMask}" class="form__input" type="text"
                        [class.form__input__border-red]="getFormError('cnpj')">
                    <div *ngIf="getFormError('cnpj')">
                        <span class="feature-view__label" [class.form__color-red]="getFormError('cnpj')">Campo
                            requerido</span>
                    </div>
                </div>
                <div class="col-sm-6 feature-view__body" *ngIf="form?.get('personType').value == 1">
                    <div>
                        <span class="feature-view__label" [class.form__color-red]="getFormError('cpf')">CPF
                            *</span>
                    </div>
                    <input formControlName="cpf" [textMask]="{ mask: cpfMask}" class="form__input" type="text"
                        [class.form__input__border-red]="getFormError('cpf')">
                    <div *ngIf="getFormError('cpf')">
                        <span class="feature-view__label" [class.form__color-red]="getFormError('cpf')">Campo
                            requerido</span>
                    </div>
                </div>
                <div class="col-sm-6 feature-view__body">
                    <div>
                        <span class="feature-view__label" [class.form__color-red]="getFormError('personType')">Tipo
                            Pessoa *</span>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 feature-view__body">
                            <input type="radio" name="personType" id="individualPerson" value=1 formControlName="personType"
                                checked="true" (click)="clearDocumentField(1)">
                            <span for="individualPerson" class="feature-view__label">Pessoa Física</span>
                        </div>
                        <div class="col-sm-6 feature-view__body">
                            <input type="radio" name="personType" id="legalPerson" value=2 formControlName="personType"
                                (click)="clearDocumentField(2)">
                            <span for="legalPerson" class="feature-view__label">Pessoa Jurídica</span>
                        </div>
                    </div>
                    <div *ngIf="getFormError('personType')">
                        <span class="feature-view__label" [class.form__color-red]="getFormError('personType')">Campo
                            requerido</span>
                    </div>
                </div>
            </div>
            <div *ngIf="form?.get('personType').value == 2" class="row feature-view__group">
                <div class="col-sm-6 feature-view__body">
                    <div>
                        <span class="feature-view__label" [class.form__color-red]="getFormError('stateRegistration')">Inscrição
                            Estadual *</span>
                    </div>
                    <input formControlName="stateRegistration" class="form__input" type="text"
                        [class.form__input__border-red]="getFormError('stateRegistration')">
                    <div *ngIf="getFormError('stateRegistration')">
                        <span class="feature-view__label" [class.form__color-red]="getFormError('stateRegistration')">Campo
                            requerido</span>
                    </div>
                </div>
                <div class="col-sm-6 feature-view__body">
                    <div>
                        <span class="feature-view__label" [class.form__color-red]="getFormError('corporateName')">Razão
                            Social *</span>
                    </div>
                    <input formControlName="corporateName" class="form__input" type="text"
                        [class.form__input__border-red]="getFormError('corporateName')">
                    <div *ngIf="getFormError('corporateName')">
                        <span class="feature-view__label" [class.form__color-red]="getFormError('corporateName')">Campo
                            requerido</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>