<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <span class="feature-view__title">Dados Cadastrais</span>
            </div>
        </div>
        <form [formGroup]="form">


            <div class="row feature-view__group">
                <div class="col-sm-6 feature-view__body">
                    <div>
                        <span class="feature-view__label">Emitente</span>
                    </div>
                    <select name="issuer" formControlName="issuerId" class="form__input">
                        <option *ngFor="let i of issuers" value="{{ i.id }}">{{ i.businessName }}</option>
                    </select>
                </div>
                <div class="col-sm-6 feature-view__body">
                    <div>
                        <span class="feature-view__label">Natureza da operação</span>
                    </div>
                    <input formControlName="operationNature" class="form__input" type="text">
                </div>
            </div>


            <div class="row feature-view__group">
                <div class="col-sm-6 feature-view__body">
                    <div>
                        <span class="feature-view__label">Transportador</span>
                    </div>
                    <select name="shippingCompany" formControlName="shippingCompanyId" class="form__input">
                        <option *ngFor="let sc of shippingCompanies" value="{{ sc.id }}">{{ sc.businessName }}</option>
                    </select>
                </div>
                <div class="col-sm-6 feature-view__body">
                    <div>
                        <span class="feature-view__label">Data de Entrada</span>
                    </div>
                    <input formControlName="entryDate" class="form__input" type="date">
                </div>
            </div>


            <div class="row feature-view__group">
                <div class="col-sm-6 feature-view__body">
                    <div>
                        <span class="feature-view__label">Destinatário</span>
                    </div>
                    <select name="addressee" formControlName="addresseeId" class="form__input">
                        <option *ngFor="let a of addressees" value="{{ a.id }}">{{ a.businessName }}</option>
                    </select>
                </div>
            </div>
                

        </form>
    </div>
</div>