<div class="feature-view-tab__content">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <div class="feature-view__title">Dados Cadastrais</div>
                </div>
            </div>
            <div class="row feature-view__group">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Código</span>
                            </div>
                            <div>
                                <span title="{{ product?.code }}" class="feature-view__value">{{ product?.code }}</span>
                            </div>
                        </div>
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Descrição</span>
                            </div>
                            <div>
                                <span title="{{ product?.description }}" class="feature-view__value">{{
                                    product?.description }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Valor Unitário</span>
                            </div>
                            <div>
                                <span title="{{ product?.unitaryValue }}" class="feature-view__value">R$ {{
                                    product?.unitaryValue }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="feature-view__title">Taxas</div>
                </div>
            </div>
            <div class="row feature-view__group">
                <div class="col-sm-6 feature-view__body">
                    <div>
                        <span class="feature-view__label">IPI</span>
                    </div>
                    <div>
                        <span title="{{ product?.ipiAliquot }}" class="feature-view__value">{{ product?.ipiAliquot }}%</span>
                    </div>
                </div>
                <div class="col-sm-6 feature-view__body">
                    <div>
                        <span class="feature-view__label">ICMS</span>
                    </div>
                    <div>
                        <span title="{{ product?.icmsAliquot }}" class="feature-view__value">{{ product?.icmsAliquot
                            }}%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="feature-view-tab__footer">
    <button class="ndd-ng-button ndd-ng-button--primary" (click)="onEdit()">Editar</button>
    <button class="ndd-ng-button ndd-ng-button--cancel" (click)="redirect()">Voltar</button>
</div>
<div class="ndd-ng-spinner__spinner" *ngIf="isLoading"></div>
<div class="ndd-ng-spinner__color" *ngIf="isLoading"></div>